.announcement {
  padding: 120px 0 107px 0;

  @include vp-1199 {
    padding: 98px 0 100px 0;
  }

  @include vp-767 {
    padding: 69px 0 63px 0;
  }

  &__container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 103px;

    @include vp-1199 {
      padding: 0 45px;
    }

    @include vp-767 {
      max-width: 500px;
      padding: 0 15px;
    }
  }

  &__wrapper {
    display: grid;

    grid-template-columns: 43.1% 56.9%;

    @include vp-1199 {
      max-width: 915px;
      margin: 0 auto;
    }

    @include vp-767 {
      display: block;
      max-width: none;
    }

    img {
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;

      @include vp-767 {
        min-height: auto;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 85px 78px;

    color: $color-default-white;

    background-color: $color-torch-red;

    @include vp-1199 {
      padding: 50px 45px;
    }

    p {
      margin: 0 0 10px 0;
      font-size: 18px;

      @include vp-1199 {
        font-size: 12px;
      }

      @include vp-767 {
        text-align: left;
      }

      &:last-of-type {
        margin: 0 0 48px 0;

        @include vp-1199 {
          margin: 0 0 31px 0;
        }
      }
    }
  }

  &__preview-wrapper {
    display: grid;
    margin: 0 0 23px 0;

    column-gap: 50px;
    row-gap: 32px;

    grid-template-columns: auto auto;

    @include vp-1199 {
      margin: 0 0 9px 0;

      column-gap: 33px;
      row-gap: 12px;
    }
  }

  &__title {
    grid-row: span 2;
    align-self: center;
    margin: 0;

    font-weight: 600;
    font-size: 82px;
    line-height: 96%;
    font-family: $ff-alumni-sans;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.46px;

    @include vp-1199 {
      font-size: 48px;
      letter-spacing: 1.44px;
    }

    @include vp-767 {
      text-align: left;
      margin: 0 0 0 6px;
    }
  }

  &__datetime-title {
    display: block;
    margin: 0 0 7px 0;

    font-size: 18px;

    @include vp-1199 {
      margin: 0 0 1px 0;

      font-size: 12px;
    }
  }

  &__datetime-value-wrapper {
    display: inline-block;
    padding: 3px 0 0 0;

    border-top: 1px solid $color-default-white;
  }

  &__datetime-main-value {
    display: inline-block;

    font-weight: 700;
    font-size: 40px;
    line-height: 1;

    @include vp-1199 {
      margin: 2px 0 0 0;

      font-size: 24px;
      vertical-align: top;
    }
  }

  &__datetime-secondary-value-wrapper {
    display: inline-block;
    margin: 5px 0 0 0;
  }

  &__datetime-secondary-value {
    display: block;

    font-size: 14px;

    @include vp-1199 {
      font-size: 10px;
    }
  }

  &__link {
    width: 100%;
    min-height: 71px;
    margin: auto 0 0 0;

    border: 4px solid $color-default-white;

    @include vp-1199 {
      min-height: 41px;
      padding: 14px;

      font-size: 10px;

      border: 2px solid $color-default-white;
    }

    @include vp-767 {
      max-width: 375px;
      margin: auto auto 0 auto;
    }
  }
}
