.announcement {
  padding: 120px 0;

  &__wrapper {
    display: grid;

    grid-template-columns: 43.1% 56.9%;

    @include vp-1199 {
      display: block;
    }

    img {
      width: 100%;
      min-height: 100%;

      object-fit: cover;

      @include vp-767 {
        min-height: auto;
      }
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 85px 78px;

    color: $color-default-white;

    background-color: $color-torch-red;

    @include vp-1199 {
      padding: 50px 45px;
    }

    p {
      margin: 0 0 48px 0;

      font-size: 18px;

      @include vp-1199 {
        margin: 0 0 28px 0;

        font-size: 12px;
      }
    }
  }

  &__preview-wrapper {
    display: grid;
    margin: 0 0 18px 0;

    column-gap: 50px;

    grid-template-columns: auto auto;

    @include vp-1199 {
      margin: 0 0 5px 0;

      column-gap: 33px;
    }
  }

  &__title {
    align-self: center;
    margin: 0;

    font-weight: 600;
    font-size: 82px;
    line-height: 96%;
    font-family: $ff-alumni-sans;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.46px;

    @include vp-1199 {
      font-size: 48px;
      letter-spacing: 1.44px;
    }
  }

  &__datetime-content {
    &:not(:last-of-type) {
      margin: 0 0 20px 0;

      @include vp-1199 {
        margin: 0 0 5px 0;
      }
    }
  }

  &__datetime-title {
    display: block;
    margin: 0 0 3px 0;

    font-size: 18px;

    @include vp-1199 {
      margin: 0 0 1px 0;

      font-size: 12px;
    }
  }

  &__datetime-value-wrapper {
    display: inline-block;
    padding: 3px 0 0 0;

    border-top: 1px solid $color-default-white;
  }

  &__datetime-main-value {
    display: inline-block;

    font-weight: 700;
    font-size: 40px;
    line-height: 1;

    @include vp-1199 {
      margin: 2px 0 0 0;

      font-size: 24px;
      vertical-align: top;
    }
  }

  &__datetime-secondary-value-wrapper {
    display: inline-block;
    margin: 0 0 0 3px;
  }

  &__datetime-secondary-value {
    display: block;

    font-size: 14px;

    @include vp-1199 {
      font-size: 10px;
    }
  }

  &__link {
    width: 100%;
    margin-top: auto;
    padding: 25px;

    border: 4px solid $color-default-white;

    @include vp-1199 {
      padding: 14px;

      font-size: 10px;

      border: 2px solid $color-default-white;
    }
  }
}
