.btn {
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  background-color: $color-transparent;
  border: 2px solid;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    pointer-events: none;
  }

  &--white {
    color: $color-default-white;

    border-color: $color-default-white;

    @include hover-focus {
      color: $color-egyptian-blue;

      background-color: $color-default-white;
      outline: none;
    }

    @include active-no-focus {
      color: $color-sapphire;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &--disabled-white {
    color: $color-default-white;

    background-color: $color-transparent;
    opacity: 0.5;

    pointer-events: none;
  }

  &--blue {
    color: $color-sapphire;

    border-color: $color-sapphire;

    @include hover-focus {
      color: $color-default-white;

      background-image: $torch-red-to-cobalt;
      border-color: $color-default-white;
      outline: none;
    }

    @include active-no-focus {
      color: rgba($color-default-white, 0.7);
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &--disabled-blue {
    color: $color-sapphire;

    background-image: none;
    border: 4px solid $color-sapphire;
    opacity: 0.3;

    pointer-events: none;
  }
}
