.contacts {
  display: flex;
  flex-direction: column;
  padding: 56px 0 70px 0;

  @include vp-1199 {
    padding: 70px 0;
  }

  &__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 683px;
    margin: 0 auto 0 0;
    padding: 0 100px 0 120px;

    @include vp-1365 {
      min-width: auto;
      padding: 0 103px;
      width: 100%;
    }

    @include vp-1199 {
      padding: 0 50px 0 133px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__title {
    line-height: 1;
    margin: 0 0 20px 0;

    @include vp-1199 {
      margin: 0 0 35px 0;
    }
  }

  &__content {
    position: relative;
    display: grid;
    margin-top: auto;

    grid-template-columns: 190px 190px;
    grid-template-rows: auto auto;
    column-gap: 120px;
    row-gap: 30px;
    justify-content: space-between;

    @include vp-1199 {
      grid-template-columns: 218px 218px;
      column-gap: 96px;
      row-gap: 35px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-light-slate-grey;

      @include vp-767 {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    gap: 12px;

    @include vp-767 {
      &--address {
        order: 1;
      }

      &--worktime {
        order: 2;
      }

      &--phone {
        order: 3;
      }

      &--email {
        order: 4;
      }
    }

    span {
      font-weight: 700;

      @include vp-1199 {
        font-size: 20px;
      }
    }

    p {
      margin: 0;

      font-size: 14px;

      @include vp-1199 {
        font-size: 18px;
      }
    }

    a {
      font-size: 14px;
      color: $color-sapphire;

      @include vp-1199 {
        font-size: 18px;
      }
    }
  }
}
