.free-lesson {
  display: flex;
  flex-direction: column;
  padding: 70px 0 68px 0;

  background-color: $color-sapphire;

  @include vp-1199 {
    padding: 66px 0;
  }

  @include vp-767 {
    padding: 66px 0 68px 0;
  }

  &__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 683px;
    margin: 0 0 0 auto;
    padding: 0 170px 0 103px;

    @include vp-1365 {
      min-width: auto;
      padding: 0 103px;
      width: 100%;
    }

    @include vp-1199 {
      margin: 0 auto;
      padding: 0 163px 0 133px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    form {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
  }

  &__title {
    line-height: 1;
    margin: 0 0 25px 0;

    font-weight: 800;

    @include vp-1199 {
      margin: 0 0 30px 0;

      font-weight: 700;
    }

    @include vp-767 {
      margin: 0 0 34px 0;

      font-weight: 600;
    }
  }

  &__inputs-wrapper {
    display: grid;
    margin: 0 0 26px 0;

    gap: 30px;
    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      margin: 0 0 30px 0;
      gap: 60px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      margin: 0 0 37px 0;

      gap: 25px;
    }
  }

  &__submit {
    width: 100%;
    min-height: 55px;
    margin: auto 0 0 0;

    font-size: 14px;

    border-width: 3px;

    @include vp-767 {
      max-width: 290px;
      margin: 0 auto;
    }
  }
}
