.gym {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 64px 0 70px 0;
  }

  &__container {
    @include vp-767 {
      padding: 0;
    }
  }

  &__wrapper {
    display: grid;
    justify-content: end;

    gap: 85px;
    grid-template-columns: 30.6% 56.9%;

    @include vp-1199 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      gap: 44px;
    }

    @include vp-767 {
      gap: 33px;
    }
  }

  &__content-wrapper {
    margin: 39px 0 0 0;

    @include vp-1199 {
      margin: 0;
    }

    @include vp-767 {
      padding: 0 15px;
    }

    span {
      display: block;
      margin: 0 0 45px 0;

      font-size: 18px;

      @include vp-1199 {
        margin: 0 0 37px 0;
        text-align: center;
      }

      @include vp-767 {
        margin: 0 0 28px 0;

        text-align: left;
      }
    }

    p {
      margin: 0 0 8px 0;
      line-height: 1.5;

      font-weight: 300;

      @include vp-1199 {
        max-width: 502px;
        margin: 0;

        text-align: center;

        &:not(:first-of-type) {
          display: none;
        }
      }

      @include vp-767 {
        padding: 0 30px 0 0;

        text-align: left;
      }
    }
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 48px;

    @include vp-1199 {
      font-size: 42px;
      margin: 0 0 4px 0;

      text-align: center;
    }

    @include vp-767 {
      font-size: 32px;
      margin: 0 0 10px 0;

      text-align: left;
    }
  }

  &__media-wrapper {
    object-fit: cover;

    @include vp-767 {
      display: flex;
      flex-direction: column;

      gap: 40px;

      img {
        height: auto;
        width: 100vw;
        background-color: #dbdee8;
      }
    }

    @include vp-499 {
      img {
        height: auto;
      }
    }
  }

  &__video {
    margin: -114px 0 0 -65px;
    height: 228px;

    @include vp-1199 {
      display: flex;
      justify-content: center;
      margin: -84px 0 0 0;
      height: auto;
    }

    @include vp-767 {
      margin: 0;
    }
  }
}
