.header {
  position: absolute;
  top: 30px;

  width: 100%;

  @include vp-767 {
    top: 15px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 10px 0 0 0;
    z-index: 1;

    @include vp-767 {
      margin: 0;
    }
  }

  &__phone {
    z-index: 1;

    font-weight: 600;
    font-size: 26px;
    line-height: normal;
    font-family: $ff-alumni-sans;
    color: $color-default-white;
    letter-spacing: 0.78px;

    @include vp-1199 {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.48px;
    }

    @include vp-767 {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.4px;
    }

    @include hover {
      opacity: 0.8;
    }

    @include focus {
      opacity: 0.8;
    }

    @include active-no-focus {
      opacity: 0.5;
    }
  }
}
