.hero {
  padding: 51px 0;

  background-image: $dark-cerulean-to-venetian-red;

  @include vp-1199 {
    padding: 82px 0;
  }

  @include vp-767 {
    padding: 115px 0 80px 0;
  }

  &__wrapper {
    position: relative;

    display: grid;
    justify-content: center;

    gap: 65px;
    grid-template-columns: min-content 500px;

    @include vp-1199 {
      justify-content: center;

      gap: 30px;
      grid-template-columns: min-content 324px;
    }

    @include vp-899 {
      justify-content: end;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }

    & picture {
      align-self: auto;

      @include vp-1349 {
        align-self: flex-end;
      }

      @include vp-1199 {
        align-self: auto;
      }
    }

    & img {
      width: 500px;

      @include vp-1349 {
        width: 420px;
      }

      @include vp-1199 {
        width: 324px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &__content-wrapper {
    position: relative;

    line-height: normal;
    color: $color-default-white;

    span {
      display: block;
      margin: 115px 30px 15px 0;

      font-weight: 600;
      font-size: 48px;
      font-family: $ff-alumni-sans;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1.44px;

      @include vp-1199 {
        margin: 55px 5px 15px 0;

        font-size: 34px;
        letter-spacing: 1.02px;
      }

      @include vp-767 {
        margin: 0 0 25px 0;

        font-size: 28px;
        letter-spacing: 0.84px;
      }
    }

    h1 {
      margin: 0 0 45px 0;

      font-weight: 600;
      font-size: 92px;
      font-family: $ff-alumni-sans;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 4.6px;
      -webkit-text-stroke-width: 3px;

      @include vp-1199 {
        margin: 0 0 30px 0;

        font-size: 72px;
        letter-spacing: 3.6px;
      }

      @include vp-767 {
        margin: 0 0 25px 0;
      }
    }

    ul {
      position: absolute;
      bottom: 200px;
      left: -130px;

      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      list-style: none;

      gap: 5px;

      @include vp-1199 {
        bottom: 140px;
      }

      @include vp-767 {
        bottom: 110px;
        left: -3px;
      }
    }

    li {
      font-weight: 400;
      font-size: 14px;
      text-align: right;
    }
  }

  &__link-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    min-width: 230px;
    margin-left: auto;
    padding: 19px;

    @include vp-1199 {
      min-width: 183px;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}
