.link {
  padding: 5px 10px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.7px;
  text-underline-offset: 5px;

  @include hover {
    opacity: 0.7;
  }

  @include focus {
    text-decoration: none;

    outline: 1px solid $color-sapphire;
  }

  @include active-no-focus {
    text-decoration: underline;

    opacity: 1;
  }


  &--on-light {
    color: $color-sapphire;

    @include focus {
      outline-color: $color-sapphire;
    }
  }

  &--on-dark {
    color: $color-default-white;

    @include focus {
      outline-color: $color-default-white;
    }
  }

  &--disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
