.promotions {
  padding: 120px 0;

  @include vp-1199 {
    padding: 90px 0 100px 0;
  }

  @include vp-767 {
    padding: 60px 0 70px 0;
  }

  &__title {
    margin: 0 0 25px 0;

    text-align: center;

    @include vp-1199 {
      margin: 0 0 35px 0;
    }
  }

  &__wrapper {
    display: grid;

    gap: 40px;
    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      display: flex;
      flex-direction: column;

      gap: 30px;
    }
  }

  &__content {
    display: grid;

    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-899 {
      grid-template-columns: 41.15% 58.85%;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;

      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;

      @include vp-767 {
        min-height: auto;
      }

    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    padding: 45px;

    color: $color-default-white;

    background-color: $color-torch-red;

    p {
      margin: 0 0 25px 0;

      font-size: 18px;
      line-height: 1.4;
    }
  }

  &__product-text {
    margin: 0 0 5px 0;

    font-weight: 700;
    font-size: 28px;
    line-height: 1;
  }

  &__product-price {
    margin: 0 0 20px 0;

    font-weight: 700;
    font-size: 70px;
    line-height: 1;
  }

  &__product-link {
    align-self: flex-start;
    margin: auto 0 0 0;

    transform: translateX(-10px);

    @include vp-767 {
      align-self: center;

      transform: none;
    }
  }

  &__features {
    display: grid;

    gap: 40px;
    grid-template-rows: 1fr 1fr;

    @include vp-1199 {
      display: grid;

      gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @include vp-767 {
      grid-auto-rows: 1fr;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    padding: 28px;

    border-image: $crimson-to-cobalt;
    border-image-slice: 1;
    border-image-width: 7px;

    @include vp-1199 {
      min-height: 211px;
    }

    @include vp-767 {
      padding: 39px;

      text-align: center;
    }

    p {
      margin: 0 0 25px 0;

      line-height: 1.4;
    }
  }

  &__feature-title {
    margin: 0 0 10px 0;

    font-weight: 700;
    font-size: 26px;
    color: $color-resolution-blue;
  }

  &__feature-link {
    align-self: flex-start;
    margin: auto 0 0 0;

    transform: translateX(-10px);

    @include vp-767 {
      align-self: center;

      transform: none;
    }
  }
}
