.reviews {
  padding: 120px 0;

  @include vp-1199 {
    padding: 90px 0 100px 0;
  }

  @include vp-767 {
    padding: 60px 0 70px 0;
  }

  &__title {
    margin: 0 0 30px 0;

    text-align: center;

    @include vp-1199 {
      margin: 0 0 40px 0;
    }
  }

  &__slider {
    position: relative;
  }

  &__slider-wrapper {
    width: 48.28%;
    margin: 0 auto;
    overflow: hidden;

    @include vp-1199 {
      width: 83.48%;
    }

    @include vp-767 {
      width: 77.93%;
    }
  }

  &__slider-item {
    position: relative;

    margin: 0 auto;
    padding: 62px 62px 62px 170px;

    color: $color-default-white;

    background-color: $color-resolution-blue;

    @include vp-767 {
      padding: 40px 25px;
    }

    & picture {
      flex-shrink: 0;
    }

    & img {
      position: absolute;
      left: 62px;

      @include vp-767 {
        position: static;
      }
    }
  }

  &__slider-button {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    &--prev {
      left: calc((100% - 48.28%) / 2 - 76px);

      @include vp-1199 {
        left: calc((100% - 83.48%) / 2 - 76px);
      }

      @include vp-767 {
        left: calc((100% - 77.93%) / 2 - 44px);
      }
    }

    &--next {
      right: calc((100% - 48.28%) / 2 - 76px);

      @include vp-1199 {
        right: calc((100% - 83.48%) / 2 - 76px);
      }

      @include vp-767 {
        right: calc((100% - 77.93%) / 2 - 44px);
      }
    }
  }

  &__user-info {
    margin: 0 0 12px 0;

    @include vp-767 {
      display: flex;
      align-items: center;
      margin: 0 0 15px 0;
      padding: 0 15px;

      gap: 15px;
    }
  }

  &__user-name {
    margin: 0;

    font-weight: 700;
    font-size: 20px;

    @include vp-767 {
      line-height: 1.3;
    }
  }

  &__text {
    margin: 0;

    line-height: 1.4;

    @include vp-767 {
      text-align: center;
    }
  }

  &__slider-buttons {
    width: 100%;

    @include vp-1199 {
      width: calc(100% - 40px);
    }

    @include vp-767 {
      width: calc(100% - 12px);
    }
  }
}
