.slider {
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;

    background-color: $color-transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @include vp-767 {
      width: 34px;
      height: 34px;
    }

    @include hover {
      border: 1px solid $color-sapphire;
    }

    @include focus {
      border: 1px solid $color-sapphire;
      outline: none;
    }

    @include active-no-focus {
      background-color: $color-sapphire;

      & svg {
        stroke: $color-default-white;
      }
    }

    &:disabled {
      pointer-events: none;

      svg {
        stroke: rgba($color-sapphire, $alpha: 0.3);
      }
    }

    & svg {
      @include vp-767 {
        width: 10px;
        height: 19px;
      }
      stroke: $color-sapphire;
    }

    &--next {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
