.video {
  &.is-active .video__preview {
    display: none;
  }

  &__preview {
    position: relative;

    display: inline-block;

    @include vp-767 {
      img {
        width: 100vw;
        height: 300px;

        object-fit: cover;
      }
    }

    @include vp-499 {
      img {
        height: 167px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba($dark-cerulean, 0.5);
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

    background-color: $color-transparent;
    background-image: url("../img/content/gym/play-button-default.svg");
    border: none;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;

    @include hover-focus {
      background-image: url("../img/content/gym/play-button-state-action.svg");
      outline: none;
    }

    @include active-no-focus {
      background-image: url("../img/content/gym/play-button-state-action.svg");
    }

    &:disabled {
      background-image: url("../img/content/gym/play-button-state-action.svg");
      opacity: 0.4;
    }
  }

  &.is-active .video__player {
    display: block;
  }

  &__player {
    display: none;
    width: 364px;
    height: 228px;

    border: none;

    @include vp-1199 {
      width: 266px;
      height: 167px;
    }

    @include vp-767 {
      width: 100vw;
      height: 300px;
    }

    @include vp-499 {
      height: 167px;
    }
  }
}
