// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-black-russian:               #030a1a;
$color-grey:                        #787878;
$color-light-slate-grey:            #74819C;
$color-spindle:                     #b6bdcc;
$color-whisper:                     #e8e8e8;
$color-ghost-white:                 #f8f9fc;
$color-sapphire:                    #102654;
$dark-cerulean:                     #14367a;
$color-resolution-blue:             #1c3374;
$color-egyptian-blue:               #103aae;
$color-persian-blue:                #2e35ac;
$color-eucalyptus:                  #22b259;
$color-torch-red:                   #ed0233;
$color-torch-red-alt:               #ff121f;
$color-crimson:                     #d10a42;

// Gradient

$crimson-to-cobalt:                 linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$crimson-to-cobalt-alt:             linear-gradient(143deg, #d10a42 0%, #0041ca 100%);
$torch-red-to-cobalt:               linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$dark-cerulean-to-venetian-red:     conic-gradient(from 182deg at 33% 34%, #003D85 0deg, #B80027 313deg, #003D85 360deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-alumni-sans:                    "Alumni Sans", "Gill Sans", "Arial",sans-serif;

$ff-roboto-condensed:               "Roboto Condensed", "Gill Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-500:                            500px;
$vp-768:                            768px;
$vp-900:                            900px;
$vp-1200:                           1200px;
$vp-1366:                           1366px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
